
body {
    margin: 0;
    background-color: #F1EEEA;
}

h1 {
    font-family: 'Tomorrow';
    font-weight: 300;
    font-size: 104px;
    text-align: justify;
    margin: 0;
    line-height: 120%;
}

h2 {
    font-family: 'Tomorrow';
    font-weight: 300;
    font-size: 48px;
    margin: 0;
}

h3 {
    font-family: 'Tomorrow';
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

p {
    font-family: 'Tomorrow';
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

a {
    font-family: 'Tomorrow';
    font-weight: 300;
    color: black;
    text-decoration-line: underline;
    margin: 0;
}

button {
    border: none;
}

.backbtn {
    margin-left: 3%;
    margin-top: 2%;
    
}

.linkgroup {
    display: flex;
    flex-flow: column wrap;
    gap: 24px;
    margin-bottom: 24px;
}
